* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
}

.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr 100px;
}

.header {
  background: #ff644d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
}

.columns {
  display: flex;
  align-items: stretch;
}

.left-col,
.right-col {
  flex: 0 0 100px;
  width: 100px;
  padding-top: 16px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
}

.left-col {
  background: #f97a4b;
}

.center-col {
  flex: 1;
  padding-top: 16px;
  display: flex;
  justify-content: center;
  background: #ecd8ae;
  font-weight: 700;
  font-size: 18px;
}

.right-col {
  background: #e8a05b;
}

.footer {
  height: 100px;
  background: #778596;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
}
